<div class="NewUsers-container">
  <p class="NewUsers-title">
    Rename Menu Category
  </p>
    <%= form_with url: menu_categories_path + "/#{@category.id}", method: "put" do |form| %>
      <div class="Form-section">
        <p class="FormInput-label">Name: </p>
        <%= form.text_field :name, class: "Form-input", value: @category.name %>
      </div>

      <div class="Form-section">
        <%= form.submit "Rename", class: "Form-submit" %>
      </div>
    <% end %>
</div>
