<div class="MenuPageMain">
  <h1 class="MenuPage-title">Menu</h1>
  <% MenuCategory.all().each do |category| %>
    <div class="MenuPage-category">
      <%= category.name %>
    </div>
    <% MenuItem.where(menu_category_id: category).each do |item| %>
      <div class="MenuPageItem">
        <div class="MenuPageItem-name"><%= item.name %></div>
        <button class="AddToCart">Add To Cart</button>
      </div>
      <div class="MenuPageItem-details">
        <div class="MenuItem-description"><%= item.description %></div>
        <div class="MenuItem-price">Rs. <%= item.price %></div>
      </div>
    <% end %>
  <% end %>
</div>
