<div class="MenuPageMain">
  <div class="AdminPage-container">
    <nav>
      <ul>
        <li><%= link_to "Menu", "/menu_admin", method: "get" %></li>
        <li><%= link_to "Orders", "/all_orders/all", method: "get" %></li>
        <li><%= link_to "View Users", "/view_users", method: "get" %></li>
        <li><%= link_to "Add Members", new_user_path %>
      </ul>
    </nav>
  </div>
</div>
