<div class="MenuPageMain">
  <div class="AdminPage-container">
    <nav>
      <ul>
        <li><%= link_to "New Order", "/menu", method: "get" %></li>
        <li><%= link_to "Orders", "/all_orders/all", method: "get" %></li>
      </ul>
    </nav>
  </div>
</div>
