<div class="MenuPageMain">
  <div class="MenuPage-header">
    <div class="MenuPage-title">Gourmet Cafeteria</div>
    <div class="MenuPage-controls">
      <% if @current_user %>
        <div class="username"><%= @current_user.name %></div>
        <div class="signout"><%= link_to "Sign-out", destroy_sessions_path, method: "delete" %></div>
      <% end %>
    </div>
  </div>
  <div class="HomePage-container">
    <nav>
      <ul>
        <li><%= link_to "Menu", "/menu", method: "get" %></li>
        <li><%= link_to "My Orders", "/myorders", method: "get" %></li>
      </ul>
    </nav>
  </div>
</div>
