.Header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.Header-title {
  font-size: 30px;
  color: #da0037;
  padding: 10px;
  font-weight: bolder;
  text-decoration: none;
  font-family: cursive;
}

.username {
  color: #f8d614;
}
