.Home-container {
  background-image: url("bg.jpg");
  background-size: cover;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Company-title {
  color: #ffffff;
  font-size: 10vw;
  padding-top: 15%;
  padding-left: 15%;
  font-family: cursive;
}

.navbar {
  float: right;
}

.navbar li {
  float: right;
  padding: 20px;
}

.Navbar-link {
  color: #dedede;
}

.Navbar-link:hover {
  color: #ffffff;
}

.HomeOrder-button {
  padding: 12px 25px;
  background-color: #f8d614;
  color: #000000;
  text-decoration: none;
}

.HomeOrder-button:hover {
  padding: 14px 27px;
  color: #f8d614;
  border: 1px solid #f8d614;
  background-color: transparent;
  text-decoration: none;
}

.HomeOrder {
  margin-left: 15%;
  margin-top: 30px;
}

.HomeMenu-title {
  color: #ffffff;
  font-size: 8vw;
  padding-top: 5%;
  font-family: cursive;
}
