.MenuPage-container {
  display: flex;
}

.Menu {
  width: 70%;
  background-color: #000000;
  padding: 20px;
}

.MenuPage-category {
  font-size: 20px;
  color: #ab0e14;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
}
.MenuCategory-container {
  margin-bottom: 50px;
}

.Inactive {
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
  background-color: #ab0e14;
  padding: 2px;
}

.MenuPageItem {
  font-size: 16px;
  color: #ffffff;
  border-bottom: 2px solid #444444;
  padding: 1%;
  margin-left: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.AddToCart {
  border: 1px solid #f8d614;
  background-color: transparent;
  color: #f8d614;
  font-size: large;
  margin-left: 5px;
}

.Menuitem-quantityButtons {
  display: flex;
}

.MenuPageItem-details {
  display: flex;
  margin-left: 35px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.MenuItem-description {
  width: 65%;
  color: #ededed;
}

.MenuItem-price {
  width: 30%;
  text-align: right;
  color: #f8d614;
}

.Cart {
  width: 30%;
  border-left: 1px solid #666666;
  background-color: #000000;
  padding: 10px;
}

.CartItem {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.CartTotal {
  display: flex;
  justify-content: space-between;
}

.CartHeader {
  color: #da0037;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 0px;
}

.CartItem-name {
  color: #ededed;
}

.CartItem-price {
  color: #cccccc;
}

.TotalAmount {
  font-weight: bolder;
  color: #ffffff;
}
.Checkout {
  margin-top: 25px;
  text-align: center;
}
.CheckoutButton {
  background-color: #006400;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}
