.MenuPage-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #3d000e;
}

.MenuPage-title {
  font-size: 30px;
  color: #f7c7d2;
  padding: 10px;
  font-weight: bolder;
}
.MenuPage-controls {
  font-size: 14px;
  color: #ffffff;
  padding-top: 20px;
  font-weight: bolder;
  display: flex;
}

.username {
  margin-right: 10px;
}

.MenuPage-container {
  display: flex;
}

.Menu {
  width: 70%;
}

.MenuPage-category {
  font-size: 20px;
  color: #ab0e14;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
}

.Inactive {
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
  background-color: #ab0e14;
  padding: 2px;
}

.MenuPageItem {
  font-size: 16px;
  color: #56111d;
  background-color: #f7c7d2;
  padding: 1%;
  margin-left: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.AddToCart {
  background-color: #006400;
  color: #ffffff;
  font-size: larger;
  margin-left: 5px;
}

.Menuitem-quantityButtons {
  display: flex;
}

.MenuPageItem-details {
  display: flex;
  margin-left: 35px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.MenuItem-description {
  width: 65%;
}

.MenuItem-price {
  width: 30%;
  text-align: right;
}

.Cart {
  width: 30%;
}

.CartItem {
  display: flex;
  justify-content: space-between;
}

.CartTotal {
  display: flex;
  justify-content: space-between;
}
