.OrderHistory-table th {
  border: 1px solid #ab0e14;
  background-color: #ab0e14;
  color: #ffffff;
  padding: 10px;
}

.OrderHistory-table td {
  border: 1px solid #f7c7d2;
  padding: 5px;
}

.OrderHistory-table {
  margin: 10px auto;
  width: 90%;
}

.OrderHistory-table tr:nth-child(even) {
  background-color: #f7c7d2;
}
